	<div class="d-inline-flex align-items-end m-2">
	<div class="text-center" style="width:200px">
		<img src="{{dataValues.image}}" alt="burger image" class="burgerPic">
			<h5 >{{dataValues.burger_name}}</h5>
			<div class="d-flex justify-content-center align-items-center">
					<button class="change-devoured center-block btn btn-info m-1" data-id="{{dataValues.id}}" data-devoured="{{dataValues.devoured}}">
							{{#if dataValues.devoured }} eat again{{ else }} chow-down{{/if}}
					</button>
					<span>
						<i class="btn_delete fa fa-trash fa-2x center-block m-1 " aria-hidden="true" data-id="{{dataValues.id}}"></i>
					</span>
			</div>
	</div>
</div>
